*{
  box-sizing: border-box;
}

body {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;

  background-color: #fff;
}

h1,h2,h3,h4,h5{
  margin: 0;
}

a{
  text-decoration: none;
  color: #fff;

  display: inline-block;
}

ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

/*////////////////////Header*/

.header{
  background-color: #f1f5f7;
}

.top-menu{
  background-color: #293449;
}

.logo{
  background-color: #ee3643;
}

.top-menu_btn{
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  vertical-align: middle;
  text-transform: none;

  border: none;
}

.top-menu_btn:hover{
  background-color: #212a3a;
}

.top-menu_btn:active{
  background-color: #161d29;
}

.top-menu_btn:hover .green-btn{
  background-color: #5fbb2d;
}

.top-menu_btn:active .green-btn{
  background-color: #518534;
}

.top-menu_btn:active input{
  background-color: #293449;
}

.top-menu_btn input{
  background-color: transparent;
  border: none;
}

.top-menu_btn input:active{
  background-color: #fff;
}

.top-menu_btn input:focus{
  background-color: #fff;
  border: none;
  color: #000;
}

.green-btn{
  background-color: #63a63e;
}

.registration-title{
  margin: 0;
}

.registration h1,
.registration .registration-title{
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  vertical-align: middle;
  text-transform: none;
  font-style: italic;
}

.registration li{
  background-color: #fff;
}

.phone-btn-header{
  color: #ee3643;
}

.registration-btn{
  color: #000;
}

.registration-btn:hover{
  color: #ee3643;
}

.registration-btn:active{
  color: #000;
  opacity: 0.3;
}

.menu-navigation{
  font-size: 17px;
  line-height: 17px;
  vertical-align: middle;
  text-transform: none;

  background-color: #32425c;
}

.menu-navigation li:hover{
  background-color: #293449;
}

.menu-navigation li:active{
  background-color: #1d2739;
}

/*////////////////////Main*/

.category-service-item1{
  background-color: #ffbf47;`
}

.category-service-item2{
  background-color: #3bbce3;`
}

.category-service-item3{
  background-color: #dc91d8;`
}

.category-service-item4{
  background-color: #8ed78f;`
}

.category-service-item5{
  background-color: #ffc047;`
}

.service-title{
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.service-btn{
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;

  background-color: rgba(0,0,0,0.1);
}

.service-btn:hover{
  background-color: rgba(0,0,0,0.2);
}

.service-btn:active{
  background-color: rgba(0,0,0,0.3);
}

.slider-wrap{
  background-image: url(../img/Slider1_2.jpg);
  background-repeat: no-repeat;
}

.slider-title{
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  font-weight: 700;
}

.slider-text{
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-transform: none;
}

.main-btn{
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;

  background-color: #ee3643;
}

.main-btn:hover{
  background-color: #ca2c37;
}

.main-btn:active{
  background-color: #ba2732;
}

.products-wrap-top{
  background-color: #f9f5f0;
}

.products-title{
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.list-item{
  border: 1px solid black;
  font-family: "PTSans", sans-serif;;
}

.item-title{
  font-size: 18px;
  line-height: 20px;
  color: #000;
  text-transform: none;
}

.item-btn-buy{
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;

  background-color: #63a63e;
}

.item-btn-buy:hover{
  background-color: #5fbb2d;
}

.item-btn-buy:active{
  background-color: #518534;
}

.item-btn-bookmark{
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  color: #32425c;

  border: 3px solid #63a63e;
}

.item-btn-bookmark:hover{
  border: 3px solid #32425c;
}

.item-btn-bookmark:active{
  border: 3px solid #32425c;
  opacity: 0.3;
}

.item-text-discount{
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}

.item-text-price{
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;

  background-color: #ee3643;
}

.services{
  background-color: #f4f8f9;
}

.services-title{
  font-size: 30px;
  line-height: 30px;
  color: #000;
}

.services-text{
  font-family:"PTSans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  text-transform: none;
}

.services-menu a{
  font-size: 21px;
  line-height: 30px;
  vertical-align: middle;
  color: #fff;
  font-weight: 700;
  text-transform: none;

  background-color: #32425c;
}

.services-menu a:hover{
  background-color: #293449;
}

.services-slider h2{
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.services-slider p{
  font-family:"PTSans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #32425c;
  text-transform: none;
}

.wrap-info h2{
  font-size: 30px;
  line-height: 30px;
  color: #000;
}

.wrap-info p{
  font-family:"PTSans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  text-transform: none;
}

/*////////////////////Footer*/

.footer{
  color: #fff;
  background-color: #32425c;
}

.footer p{
  color: #fff;
}

.footer-top-menu{
  font-size: 18px;
  line-height: 24px;
}

.footer-top-menu a{
  vertical-align: middle;
  text-transform: none;

  text-decoration: none;
}

.footer-top-menu a:hover{
  text-decoration: underline;
}

.footer-top-menu a:active{
  text-decoration: none;

  opacity: 0.3;
}

.footer-botton-menu .phone-btn-footer{
  color: #fff;
}

.footer-botton-menu .phone-btn-footer:hover{
  text-decoration: none;
}

.footer-botton-menu .phone-btn-footer:active{
  text-decoration: none;
}

.footer-botton-menu{
  font-size: 18px;
  line-height: 24px;
}

.footer-botton-menu a{
  vertical-align: middle;
  text-transform: none;
  text-decoration: none;
  color: #ffd180;
}

.footer-botton-menu a:hover{
  text-decoration: underline;
}

.footer-botton-menu a:active{
  text-decoration: none;

  opacity: 0.3;
}

.footer-bottom_level{
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.social-network li{
  background-color: #212a3a;

  border-radius: 50px;
}

.social-network li:hover{
  background-color: #ee3643;
}

.social-network li:active{
  background-color: #ee3643;
}

.footer-bottom_info a{
  color: #b89d6e;
}

.footer-bottom_info a:hover{
  color: #b89d6e;

  text-decoration: underline;
}

.footer-bottom_info a:active{
  color: #ee3643;

  text-decoration: none;
}

/*////////////////////catalog.html*/

.registration-link-inner{
  background-color: #fff;
}

.registration-link{
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: none;
  text-decoration: underline;
  color: #32425c;
}

.registration-link:hover{
  color: #ee3643;
}

.registration-link:active{
  color: #32425c;
  opacity: 0.3;
}

.registration-link-user{
  font-size: 21px;
  line-height: 21px;
  vertical-align: middle;
  text-transform: none;
  color: #000;
}

.registration-link-user:active{
  color: #000;
  opacity: 0.3;
}

.breadcrumbs{
  font-family: "PTSans", sans-serif;
}

.breadcrumbs a{
  color: #000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
}

.catalog-name{
  color: #000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #f2f6f8;
}

.sorting{
  font-family: "PTSans", sans-serif;
  background-color: #f7f3ec;
}

.sorting-text{
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

.sorting-btn{
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: middle;
  color: rgba(0,0,0,0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}

.sorting-btn:hover{
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #000;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #ee3643;
}

.sorting-btn:active{
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ee3643;
  text-decoration: none;
}
.sorting-btn-icon{
  color: rgba(0,0,0,0.3);
}

.sorting-btn-icon:hover{
  color: #000;
}

.sorting-btn-icon:active{
  color: #ee3643;
}

.pagination-list{
  font-family: "PTSans", sans-serif;
}

.pagination-list li{
  border: 1px solid #e5e5e5;
}

.pagination-list li:hover{
  border: 1px solid #bdc6ca;
}

.pagination-list li:active{
  border: 1px solid #ee3643;
}

.pagination-list a{
  color: #000;
}

.info-unit{
  background-color: #f2f6f8;
}

.info-unit-title{
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.info-unit-text{
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  text-transform: none;
}
