* {
  box-sizing: border-box;
}

body {
  font-family: 'Cuprum','Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;

  background-color: #fff;
}

/*TYPOGRAPHY*/

h1,h2,h3,h4,h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*Visually_Hidden*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Container*/

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Color_Logo*/

.header-logo, .footer-logo {
  background-color: #ee3643;
}


/*--------------------Header--------------------*/

/*Header_Top_Menu*/

/*Top_Menu_Search*/

.header {
  background-color: #f1f5f7;

  padding-bottom: 60px;
  width: 100%;
}

.header-top-menu {
  background-color: #293449;
}

.header-top-menu .container{
  display: flex;
  flex-direction: row;
}

.header-top-menu-search,
.header-top-menu-btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-top-menu-search a,
.header-top-menu-btn a {
  display: block;
}

.header-logo img {
  vertical-align: middle;
}

/*Buttons_and_Link*/
.header-logo {
  width: 220px;
  text-align: center;
  padding: 9px 0px;
}

.header-logo:hover, .footer-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active, .footer-logo:active {
  background-color: #ba2732;
}

.main-search:hover {
  background-color: #212a3a;
  border: none;
}

.main-search {
  position: relative;

  width: 270px;
}

.icon-search {
  position: absolute;

  top: 0px;
  left: 0px;
}

.icon-search path {
  fill: rgba(255,255,255,0.3);
}

.search-input {
  background-color: transparent;
  border: none;

  width: 270px;
  height: 42px;
  padding-left: 48px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.search-input:focus {
  background-color: #fff;
  border: none;
  color: #000;
}

.search-input::placeholder {
  color: #fff;
  font-size: 17px;
  line-height: 18px;
}

/*Top_Menu_Btn*/

.header-top-menu-btn {
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  vertical-align: middle;
  align-items: center;
  text-transform: none;
}

.top-menu-btn {
  padding: 12px 0px;
  width: 150px;
}

.top-menu-btn:hover {
  background-color: #212a3a;
}

.top-menu-btn:active {
  background-color: #161d29;
  opacity: 0.6;
}

.bookmark {
  position: relative;
  padding-left: 44px;
}

.bookmark::before {
  content: '';

  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 18px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.basket {
  position: relative;
  padding-left: 49px;
}

.basket::before {
  content: '';

  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 18px;

  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmark:hover::before,
.basket:hover::before {
  opacity: 1;
}

.bookmark:active::before,
.basket:active::before {
  opacity: 0.5;
}

.checkout {
  text-align: center;

  padding: 12px 0px;
  width: 150px;

  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
  opacity: 0.5;
}

/*Header_Registration*/

.header-registration {
  margin: 45px 0px 39px 0px;
}

.header-registration .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-registration-title {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  vertical-align: middle;
  text-transform: none;

  margin: 0;
  padding-left: 53px;
  padding-top: 3px;
  width: 253px;
}

/*Header_Phone_Address*/

.header-phone-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;

  padding-left: 15px;
}

.header-phone-btn {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  position: relative;
  padding: 10px 0px 10px 72px;
  border: 3px solid #fff;
  width: 270px;
}

.header-phone-btn::before {
  content: '';

  position: absolute;
  top: 10px;
  left: 13px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address-text{
  margin: 0;
  padding: 3px 0px 0px 0px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-transform: none;
}

/*Login_Open*/

/*Not_Registered*/

.login-open {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 300px;
}

.login-open li {
  background-color: #fff;

  margin-left: 10px;
  padding: 11px 0px;
}

.come-in-btn {
  font-size: 21px;
  line-height: 21px;
  color: #000;
  vertical-align: middle;
  text-transform: none;

  position: relative;
  padding: 0px 26px 0px 50px;
}

.come-in-btn::before {
  content: '';

  position: absolute;
  top: 4px;
  left: 16px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.come-in-btn:hover::before {
  content: '';

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-registration-btn {
  font-size: 21px;
  line-height: 21px;
  color: #000;
  vertical-align: middle;
  text-transform: none;

  padding: 0 24px;
}

.come-in-btn:hover,
.header-registration-btn:hover {
  color: #ee3643;
}

.come-in-btn:active,
.header-registration-btn:active {
  color: #000;
  opacity: 0.3;
}

/*User_Registered*/

.login-user {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.registration-name-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: center;*/

  background-color: #fff;

  padding: 0px 0px 0px 0px;
}

.registration-link-user {
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
  color: #000;

  padding: 12px 0px 12px 48px;
  margin-right: 36px;
}

.registration-link-user:active {
  color: #000;
  opacity: 0.3;
}

.logout {
  padding-left: 0px;
  padding-top: 7px;
}

.user-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-menu {
  padding-left: 19px;
  padding-top: 3px;
}

.user-menu li {
  margin-right: 15px;
}

.user-link {
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: none;
  text-decoration: underline;
  color: #32425c;
}

.user-link:hover {
  color: #ee3643;
}

.user-link:active {
  color: #32425c;
  opacity: 0.3;
}

.rigt-bt {
  position: relative;
  padding-left: 17px;
}

.rigt-bt::before {
  content: '';

  position: absolute;
  top: 8px;
  left: 0px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

/*Menu_Navigation*/

.header-menu-navigation {
  font-size: 17px;
  line-height: 17px;
  vertical-align: middle;
  text-transform: none;

  background-color: #32425c;
}

.header-menu-navigation ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu-navigation li:hover {
  background-color: #293449;
}

.header-menu-navigation li:nth-child(n+7) {
}

.header-menu-navigation li:active {
  background-color: #1d2739;
}

.header-menu-navigation a {
  display: block;
  padding: 22px 30px;
}

/*--------------------Main--------------------*/

/*Category-Service*/

.category-service {
  padding-top: 37px;
  padding-bottom: 54px;
}

/*Category_Service_Top*/

.category-service-top {
  display: flex;
  flex-wrap: wrap;
}

.category-service-material {
  position: relative;

  background-color: #ffbf47;

  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
}

.category-service-material::before {
  content: '';

  position: absolute;
  top: 25%;
  left: 71%;

  width: 80px;
  height: 80px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-service-tool {
  position: relative;

  background-color: #3bbce3;

  width: 300px;
  padding-bottom: 24px;
}

.category-service-tool::before {
  content: '';

  position: absolute;
  top: 27%;
  left: 66%;

  width: 80px;
  height: 80px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-service-tech {
  position: relative;

  background-color: #dc91d8;

  width: 300px;
  padding-bottom: 24px;
}

.category-service-tech::before {
  content: '';

  position: absolute;
  top: 25%;
  left: 64%;

  width: 80px;
  height: 80px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-top-indent {
  margin-top: 20px;
  margin-right: 20px;
}

.service-top-indent:nth-child(3n) {
  margin-top: 20px;
  margin-right: 0;
}

.service-title {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: none;

  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 13px;
}

.service-btn {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;

  margin-left: 25px;
  padding: 11px 0px 7px;
  width: 135px;
}

.service-btn:hover {
  background-color: rgba(0,0,0,0.2);
}

.service-btn:active {
  background-color: rgba(0,0,0,0.3);
}

/*Category_Service_Bottom*/

.category-service-bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.break-box {
  width: 620px;
}

.wrap-discount-delivery {
  display: flex;
  flex-direction: column;
}

.category-service-discount {
  position: relative;

  background-color: #8ed78f;

  width: 300px;
  padding-bottom: 24px;
  align-self: baseline;
}

.category-service-discount::before {
  content: '';

  position: absolute;
  top: 21%;
  left: 65%;

  width: 80px;
  height: 80px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-service-delivery {
  position: relative;

  background-color: #ffc047;

  width: 300px;
  padding-bottom: 24px;
}

.category-service-delivery::before {
  content: '';

  position: absolute;
  top: 27%;
  left: 64%;

  width: 80px;
  height: 80px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-bottom-indent {
  margin-left: 20px;
  margin-top: 20px;
}

/*Slider*/

.slider-wrap {
  position: relative;
  width: 620px;
  margin-top: 20px;
}

/*Strat_Live_Slider*/

.slider-controls {
  position: absolute;
  left: 49%;
  bottom: 13%;
  z-index: 100;

  width: 160px;
  height: 18px;

  font-size: 10px;
  transform: translateX(-50%);

  text-align: center;
}



.slider-controls label {
  position: relative;

  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 6px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  z-index: 1;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background-color: #fff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;

  padding-bottom: 22px;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slider1_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slider1_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 90%;
  top: 80%;
  z-index: 2;
  width: 6px;
  height: 6px;
  margin: -4px;
  background-color: red;
  border-radius: 50%;
}

/*End_Live_Slider*/

.slider-title {
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  font-weight: 700;

  padding-top: 23px;
  padding-left: 24px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-transform: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2px;
  padding-left: 25px;
  padding-bottom: 121px;
}

.main-btn {
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;

  background-color: #ee3643;
}

.main-btn:hover {
  background-color: #ca2c37;
}

.main-btn:active {
  background-color: #ba2732;
}

.slider-btn {
  display: block;
  width: 195px;
  text-align: center;
  padding: 10px 0px 10px 7px;
  border-radius: 3px;

  margin-left: 24px;
}

/*Products*/

/*Products_Wrap_Top*/

.products-wrap-top {
  background-color: #f9f5f0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  padding-right: 24px;
}

.products-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;

  padding: 30px 0 28px 28px;
}

.size-main-products,
.size-main-brand {
  width: 253px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

/*Products_Items*/

.products-items {
  margin-bottom: 20px;
}

.products-items ul {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-align: center;

  margin-right: 20px;
  margin-top: 20px;
  width: 220px;
}

.list-item:hover {
  box-shadow: 10px 10px 25px 5px rgba(41, 52, 73, 0.5);
}

.filling-4x1:nth-child(4n) {
  margin-right: 0;
}

.filling-3x1:nth-child(3n) {
  margin-right: 0;
}

.list-item .flag {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 60px;
  height: 60px;

  overflow: hidden;
  z-index: 20;

  background: url(../img/new-flag.png) no-repeat 0 0;
}

.list-item .actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 180px;
  padding: 45px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.list-item:hover .actions {
  display: block;
}

.item-btn-buy,
.item-btn-bookmark {
  position: relative;
  display: block;
  width: 133px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding-top: 7px;
  padding-right: 0px;
  padding-bottom: 7px;
  padding-left: 2px;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.item-btn-buy::before {
  content: '';

  position: absolute;
  top: 6px;
  left: 11px;

  width: 17px;
  height: 18px;

  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.item-btn-buy:hover {
  background-color: #5fbb2d;
}

.item-btn-buy:active {
  background-color: #518534;
  border: 3px solid #518534;
  border-bottom-color: #518534;
}

.actions .item-btn-bookmark {
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
}

.actions .item-btn-bookmark:hover {
  border: 3px solid #32425c;
}

.actions .item-btn-bookmark:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}

.item-img {
  margin-top: 1px;
  margin-bottom: 0px;
}

.item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000;
  text-transform: none;
}

.item-text-discount {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;

  min-height: 20px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.item-text-price {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 33px;
  padding-right: 33px;
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  color: #fff;
  background-color: #ee3643;
  border-radius: 3px;
}

.list-item .item-text-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -26px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

/*Brand*/

/*Brand_Wrap_Top*/

.brand-title {
  font-size: 30px;
  line-height: 30px;
  color: #000;
  font-weight: 400;

  padding: 30px 0 30px 28px;
}

/*Brand-Items*/

.brand-wrap-top {
  background-color: #f9f5f0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding-right: 24px;
}

.brand-items ul{
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 85px;
}

.list-brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  font-family: 'PT Sans', 'Arial', sans-serif;

  margin-right: 20px;
  margin-top: 20px;
  width: 220px;
  height: 145px;
}

.list-brands:hover {
  box-shadow: 10px 10px 25px 5px rgba(41, 52, 73, 0.5);
}

.list-brands:nth-child(4n) {
  margin-right: 0;
}

/*Services*/

.services {
  background-color: #f4f8f9;

  padding-bottom: 18px;
}

/*Services_Info*/

.services-info {
  padding-top: 64px;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 27px;
}

.services-text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  text-transform: none;

  width: 400px;
  padding-bottom: 66px;
  margin: 0;
}

/*Services_Wrap_Slider*/

.services-wrap-slider{
  display: flex;
  flex-direction: row;
}

.services-menu {
  margin-right: 80px;
  margin-bottom: 80px;
}

.services-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-menu li {

}

.services-menu a {
  display: block;
  height: auto;

  font-size: 21px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: none;

  background-color: #32425c;

  width: 240px;
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 17px;
}

.services-menu a:hover {
  background-color: #293449;
}

/*Services_Slider*/

.services-slider h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #32425c;

  padding-bottom: 13px;
}

.services-slider p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #32425c;
  text-transform: none;

  width: 375px;
}

/*Wrap_Info*/
.wrap-info {
  margin-bottom: 86px;
  padding-top: 80px;
}

.wrap-info .container {
  display: flex;
  justify-content: space-between;
}

.box-info {
  display: flex;
  flex-direction: column;
  width: 535px;
}

.wrap-info h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000;

  margin-bottom: 25px;
}

.wrap-info-text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  text-transform: none;
  word-spacing: 1px;

  margin: 0;
  margin-bottom: 23px;
}

.transport-company {
  margin-bottom: 19px;
}

.transport-company-item {
  position: relative;

  font-size: 18px;
  line-height: 20px;
  text-transform: none;

  padding-left: 37px;
  padding-bottom: 19px;
}

.transport-company-item::before {
  content: "";

  position: absolute;

  width: 25px;
  height: 2px;
  top: 9px;
  left: 0px;

  background-color: #ee3643;
}

.box-info-btn {
  width: 220px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.map {
  margin-top: 7px;
  margin-bottom: 34px;
}

.contacts-info-btn {
  width: 300px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

/*Footer*/

.footer {
  color: #fff;
  background-color: #32425c;
}

.footer-top-level .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top-level {
  padding-bottom: 46px;
}

/*Footer_Left*/

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-logo img {
  vertical-align: middle;
}

.footer-logo {
  width: 220px;
  text-align: center;
  padding: 18px 0px;
}

.footer-phone-address {
 margin-top: 36px;
 padding-left: 3px;
}

.footer-phone-address p {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  text-transform: none;

  margin: 0;
}

.footer-phone-address a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  text-transform: none;
}

/*Footer_Right*/

.footer-right {

}

.footer-right a {
  display: block;
}

.footer-top-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;

  padding-top: 37px;
  padding-bottom: 34px;
}

.footer-top-menu li {
  padding-left: 59px;
}

.top-btn {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  text-transform: none;
  text-decoration: none;
}

.top-btn:hover {
  text-decoration: underline;
}

.top-btn:active {
  text-decoration: none;

  opacity: 0.3;
}

.bottom-top-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.bottom-top-menu li {
  padding-left: 60px;
}

.bottom-btn {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
  text-transform: none;
  text-decoration: none;
}

.bottom-btn:hover {
  text-decoration: underline;
}

.bottom-btn:active {
  text-decoration: none;

  color: rgba(255,209,128,0.5);
}

.footer-botton-menu a {
  vertical-align: middle;
  text-transform: none;
  text-decoration: none;
  color: #ffd180;
}

.footer-botton-menu a:hover {
  text-decoration: underline;
}

.footer-botton-menu a:active {
  text-decoration: none;

  color: rgba(255,209,128,0.5);
}

/*Footer_Bottom_Level*/

.footer-bottom-level {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
  padding-top: 36px;
  padding-bottom: 30px;
}

.footer-bottom-level .container{
  display: flex;
  align-items: center;
}

.footer-bottom-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;

  width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 6px;
  padding-right: 70px;
}

.social-network {
  width: 300px;
  margin-right: 19px;
}

.social-network ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.social-item {
  background-color: #212a3a;

  border-radius: 50%;

  padding: 0 2px;
}

.social-item:hover {
  background-color: #ee3643;
}

.social-item:active {
  background-color: #ee3643;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
}

.footer-bottom-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  text-transform: none;

  width: 300px;
  padding-left: 15px;
}

.footer-bottom-info b{
  display: block;
}

.feedback {
  margin-top: 0;
  margin-bottom: 0;

}

.developer-layout {
  margin: 0;
}

.footer-bottom-info a {
  color: #b89d6e;
}

.footer-bottom-info a:hover {
  color: #b89d6e;

  text-decoration: underline;
}

.footer-bottom-info a:active {
  color: #ee3643;

  text-decoration: none;
}

/*////////////////////catalog.html*/

/*Main*/

/*Breadcrumbs*/

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  font-family: 'PT Sans', 'Arial', sans-serif;

  padding: 14px 0px 19px 0px;
}

.breadcrumbs a {
  color: #000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-item a {
  position: relative;

  padding-left: 40px
}

.breadcrumbs-item a::before {
  content: '';

  position: absolute;
  left: 15px;
  top: 3px;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-right-small.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Catalog_Name*/

.catalog-name {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: normal;

  background-color: #f2f6f8;

  padding: 30px 0px 30px 27px;
  margin-bottom: 19px;
}

.catalog-row {
  display: flex;
  justify-content: flex-end;
}

/*Filter*/

.filter-section {
  margin-right: 20px;
}

.filter {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: normal;
}

.filter-title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  background-color: #f7f3ec;

  width: 220px;
  padding: 10px 0px 10px 20px;
}

.filter fieldset {
  border: none;
}

.filter fieldset:nth-child(-n+2) {
  border-bottom: 1px solid #e5e5e5;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

/*Strong_Filter*/

.filter-item {
  margin: 0;
  padding: 0;

  border: none;

  margin: 11px auto;
  padding-bottom: 28px;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 13px;
  padding-top: 42px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 10px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  text-transform: uppercase;
}

.price-controls input {
  width: 94px;
  padding: 8px 10px;

  font-size: 17px;
  text-align: center;
  color: #000;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*Manufacturers*/

.manufacturers {
  font-size: 15px;
  line-height: 20px;

  margin-top: 15px;
  padding: 0;
}

.filter-option {
  margin-bottom: 20px;
  margin-top: 12px;
  padding-left: 33px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 26px;
  height: 26px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 26px;
  height: 26px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Nutrition*/

.Nutrition {
  font-size: 15px;
  line-height: 20px;

  margin-top: 21px;
  padding: 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 26px;
  height: 26px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 26px;
  height: 26px;

  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-btn {
  margin-top: 60px;
  padding: 10px 0;
  width: 140px;

  background-color: #fff;
  border: 1px solid #e5e5e5;
}

/*Sorting*/

.sorting {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  font-family: 'PT Sans', 'Arial', sans-serif;
  background-color: #f7f3ec;

  display: flex;
  align-items: center;

  padding: 7px 0px 7px 19px;
  width: 100%;
}

.sorting p {
  margin: 0;
}

.sorting-text {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  padding-right: 73px;
}

.sorting-btn {
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: middle;
  color: rgba(0,0,0,0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;

  padding-left: 68px;
}

.sorting-btn:hover {
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #000;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #ee3643;
}

.sorting-btn:active {
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ee3643;
  text-decoration: none;
}

.wrap-sorting-btn-icon {
  margin-left: 36px;
}

.sorting-btn-icon {
  padding: 0px 9px;
}

.sorting-btn-icon path {
  fill: #c5c5c5;
}

.sorting-btn-icon:hover path {
  fill: #000;
}

.sorting-btn-icon:active path {
  fill: #ee3643;
}

.pagination-list {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 51px 0;
}

.pagination-item {
  border: 1px solid #e5e5e5;

  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.pagination-item-next {
  border: 1px solid #e5e5e5;

  width: 140px;
  height: 40px;
}

.pagination-item:hover,
.pagination-item-next:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item:active,
.pagination-item-next:active {
  border: 1px solid #ee3643;
}

.pagination-list a {
  display: block;
  text-align: center;

  color: #000;

  padding: 10px 0;
}

.info-unit {
  margin-top: 6px;
  background-color: #f2f6f8;
}

.info-unit-title {
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  word-spacing: 1px;

  padding-top: 67px;
  padding-bottom: 26px;
  margin: 0;
}

.info-unit-text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  text-transform: none;

  padding-bottom: 69px;
  margin: 0;
}

/*////////////////////Pop-up*/
.pop-up, .buy-object {
  display: none;
}
